<div class="centralizar">
<mat-card class="example-card">
<!--==========================================================================================================================-->
<!--==========================================================================================================================-->
<!--INPUTS-->
<div *ngIf="mostrarTelaAtual">
  <br>
  <div class="cor-do-formulario">
  <mat-form-field appearance="fill" class="inputs">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="nome">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="inputs">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="inputs">
    <mat-label>Escreva sua senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="senha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
    <input type="file">
  <br>
  </div>
  <!--==========================================================================================================================-->
  <!--==========================================================================================================================-->
  <!--BOTÕES-->
  <section>
  <br>
    <div class="example-button-row">
      <button mat-raised-button color="primary" class="botaoCadastrar">Cadastrar</button>
    </div>
  </section>
  </div>
  <br>
  <!--==========================================================================================================================-->
  <!--==========================================================================================================================-->
  <mat-card class="example-card">
  <img mat-card-image [src]="" class="img">
  <br>
    <mat-card-content class="descricao">
      <p>
        id : {{id}}
        <br>
        Nome : {{nome}}
        <br>
        Email : {{email}}
        <br>
        Senha : {{senha}}
      </p>
    </mat-card-content>
    <br>
      <button mat-raised-button color="warn" class="botaoDeletar">Deletar</button>
    </mat-card>
    <br>
  </mat-card>
</div>
