<!--Título-->
<h1 text-align: center>Solicitação ao Banco de Dados</h1>
<!--================================================================-->
<!--Inputs-->
<mat-form-field appearance="fill">
  <mat-label>Id</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Nome</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Senha</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>File</mat-label>
  <input matInput>
</mat-form-field>
<!--================================================================-->
<!--Botões-->
<section>
  <div class="example-button-row">
    <button mat-stroked-button >Pesquisar</button>
    <button mat-stroked-button color="primary">Cadastrar</button>
    <button mat-stroked-button color="warn">Atualizar</button>
    <button mat-stroked-button color="accent">Excluir</button>
  </div>
</section>
<!--================================================================-->


